.receipt {
    background-color: var(--background-grey);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--text-white);
}

.receipt-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--text-white);
    color: var(--chosen-grey);
    margin-top: auto;
    margin-bottom: auto;
}

.receipt header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.receipt .dot-box {
    border-bottom: 2px dotted var(--chosen-grey);
}

.receipt footer {
    display: flex;
    flex-direction: column;
}

.receipt-container .cart-total {
    margin: 0;
    border-radius: 0;
}

#receipt-sum {
    font-weight: 700;
    font-size: 30px;
}
@media (min-width: 900px) {
    body {
        display: flex;
    }

    .receipt {
        background-color: var(--green);
        gap: 1rem;
    }

    .receipt-container {
        border-radius: 10px;
        box-shadow: var(--shadow);
    }

    .receipt-container .cart-total {
        border-radius: 0 0 10px 10px;
    }
}

.hidden {
    display: none;
}
